.submitter{
  width:80px;
}
td, th{
  text-align: center;
}

body{text-align: center;}


th{
  color:teal;
}
 input{
   display:inline-block;
   text-align: center;
 }
.inputs{
  border:1px solid black;
  color:blue;
}
label{
  color:yellow
}

.dataContain{
  margin-top: 50px;
}

.crossed-off{
text-decoration: line-through;

}

.edit{
  margin-top: 50px;
}

.edit .collapse{
  visibility:hidden;
}

.editing-row-currently{
  background-color:  orange;
}
